<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vlearn">

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"
        />


    <application

        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LeaderBoard"></activity>
        <activity android:name=".PersonalInfo.EditPost" />
        <activity android:name=".chatWithAdmin.AdminPanel" />
        <activity android:name=".chatWithAdmin.chatWithAdmin" />
        <activity android:name=".Admin.PostWaitDetail" />
        <activity android:name=".Admin.PostAcc" />
        <activity android:name=".Admin.PostWait" />
        <activity android:name=".Admin.AdminBasic" />
        <activity android:name=".PersonalInfo.FollowUser" />
        <activity android:name=".PersonalInfo.BookmarkActivity" />
        <activity android:name=".AddPost" />
        <activity android:name=".PersonalInfo.UpdateInfo" />
        <activity android:name=".Chat" />
        <activity android:name=".AboutVLearn" />
        <activity android:name=".addquestion" />
        <activity android:name=".PostDetail" />
        <activity android:name=".QuestionDetail" />
        <activity android:name=".questionActivity" />
        <activity android:name=".queslistview" />
        <activity android:name=".interests" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register" />
        <activity android:name=".myprofile" />
        <activity android:name=".MainActivity" />
        <activity android:name=".NewsFeedDetails" />
    </application>

</manifest>